<!--Tibbo Van Leemput-->
<!--r0879836-->
<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Staff Details | Java-project</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

    </head>
    <body>
    <main>
        <h1 th:text="${staff.toString()}"></h1>
        <hr>
        <p><a href="/">Back to home page</a></p>
    </main>
    </body>
</html>